<h1 class='nombre'><%= @user.nombre %></h1>

<p class='type_person'><%= @user.type_person %></p>

<span class='telefono_p'><%= @user.telefono_p %></span>

<%= link_to 'Editar Usuario', edit_user_path(@user) %>

<%= link_to 'Eliminar Usuario', user_path(@user), data: {
    turbo_method: :delete,
    turbo_confirm: 'Estas seguro?'
} %>

